{{ define "activeWorkoutChart" }}
  <div>
    <div class="grid grid-cols-3 gap-3 mb-2">
      <dl
        class="bg-orange-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
      >
        <dt
          class="w-8 h-8 rounded-full bg-orange-100 dark:bg-gray-500 text-orange-600 dark:text-orange-300 text-sm font-medium flex items-center justify-center mb-1"
        >
          {{ .Stats.Remaining }}
        </dt>
        <dd class="text-orange-600 dark:text-orange-300 text-sm font-medium">
          Remaining
        </dd>
      </dl>
      <dl
        class="bg-teal-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
      >
        <dt
          class="w-8 h-8 rounded-full bg-teal-100 dark:bg-gray-500 text-teal-600 dark:text-teal-300 text-sm font-medium flex items-center justify-center mb-1"
        >
          {{ .Stats.Progress }}
        </dt>
        <dd class="text-teal-600 dark:text-teal-300 text-sm font-medium">
          In progress
        </dd>
      </dl>
      <dl
        class="bg-blue-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
      >
        <dt
          class="w-8 h-8 rounded-full bg-blue-100 dark:bg-gray-500 text-blue-600 dark:text-blue-300 text-sm font-medium flex items-center justify-center mb-1"
        >
          {{ .Stats.Done }}
        </dt>
        <dd class="text-blue-600 dark:text-blue-300 text-sm font-medium">
          Done
        </dd>
      </dl>
    </div>

    <!-- Radial Chart -->
    <div class="pt-6" id="radial-chart"></div>
  </div>

  <script>
    var chart;
    function initChart() {
      const chartElement = document.getElementById("radial-chart");
      if (!chartElement) {
        return;
      }

      const getChartOptions = () => {
        return {
          series: [{{ .Stats.DonePercentage }}, {{ .Stats.ProgressPercentage }}, {{ .Stats.RemainingPercentage }}],
          colors: ["#1C64F2", "#16BDCA", "#FDBA8C"],
          chart: {
            height: "380px",
            width: "100%",
            type: "radialBar",
            sparkline: {
              enabled: true,
            },
          },
          plotOptions: {
            radialBar: {
              track: {
                background: "#E5E7EB",
              },
              dataLabels: {
                show: false,
              },
              hollow: {
                margin: 0,
                size: "32%",
              },
            },
          },
          grid: {
            show: false,
            strokeDashArray: 4,
            padding: {
              left: 2,
              right: 2,
              top: -23,
              bottom: -20,
            },
          },
          labels: ["Done", "In progress", "Remaining"],
          legend: {
            show: true,
            position: "bottom",
            fontFamily: "Inter, sans-serif",
          },
          tooltip: {
            enabled: true,
            x: {
              show: false,
            },
          },
          yaxis: {
            show: false,
            labels: {
              formatter: function (value) {
                return value + "%";
              },
            },
          },
        };
      };

      if (
        typeof ApexCharts !== "undefined"
      ) {
        if(chart) {
          chart.updateOptions(getChartOptions(), true, true);
          return
        }

        chart = new ApexCharts(
          chartElement,
          getChartOptions(),
        );
        chart.render()

        chartElement.addEventListener('htmx:beforeCleanupElement', function () {
          chart.destroy()
          chart = undefined;
        })
      }
    }
    htmx.on("htmx:load", initChart);
  </script>
{{ end }}
