{{ define "editExerciseClosed" }}
  <form
    id="edit-exercise-drawer"
    class="fixed top-0 left-0 z-40 w-full h-screen max-w-3xl p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800"
    tabindex="-1"
    aria-labelledby="edit-exercise-drawer-label"
    aria-hidden="true"
  >
    {{ template "editExerciseFormContent" }}
  </form>
{{ end }}

{{ define "editExerciseOpen" }}
  <form
    hx-post="/htmx/exercise/edit/save"
    hx-swap="outerHTML"
    hx-select="#edit-exercise-drawer"
    id="edit-exercise-drawer"
    class="fixed top-0 left-0 z-40 w-full h-screen max-w-3xl p-4 overflow-y-auto transition-transform bg-white dark:bg-gray-800"
    tabindex="-1"
    aria-labelledby="edit-exercise-drawer-label"
    aria-hidden="false"
  >
    {{ template "editExerciseFormContent" }}
  </form>
{{ end }}

{{ define "editExerciseFormContent" }}
  <h5
    id="drawer-label"
    class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400"
  >
    Exercise
  </h5>
  <button
    type="button"
    data-drawer-dismiss="drawer-update-product"
    aria-controls="drawer-update-product"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewbox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div class="grid gap-4 sm:grid-cols-3 sm:gap-6 ">
    <div class="space-y-4 sm:col-span-2 sm:space-y-6">
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Exercise name</label
        >
        <input
          type="text"
          name="name"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
          value="Millitary press"
          placeholder="Type exercise name"
          required=""
        />
      </div>
      <div>
        <label
          for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Description</label
        >
        <input
          type="text"
          name="description"
          id="description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
          value="Stuff and things"
          placeholder="Type exercise description"
          required=""
        />
      </div>
      <div class="mb-4">
        <span
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Exercise image</span
        >
        <div
          class="relative p-2 bg-gray-100 rounded-lg aspect-square dark:bg-gray-700"
        >
          <img src="/exercise/image/1" alt="Millitary press" />
        </div>
        <div class="flex items-center justify-center w-full mt-2">
          <label
            for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
          >
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg
                aria-hidden="true"
                class="w-10 h-10 mb-3 text-gray-400"
                fill="none"
                stroke="currentColor"
                viewbox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                />
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                <span class="font-semibold">Click to upload</span>
                or drag and drop
              </p>
              <p class="text-xs text-gray-500 dark:text-gray-400">
                SVG, PNG, JPG or GIF (MAX. 800x400px)
              </p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
          </label>
        </div>
      </div>
    </div>
    <div class="space-y-4 sm:space-y-6">
      <div>
        <label
          for="weight-from"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Weight from (kg)</label
        >
        <input
          type="number"
          name="weight-from"
          id="weight-from"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
          value="12"
          placeholder="Ex. 12"
          required=""
        />
      </div>
      <div>
        <label
          for="weight-to"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Weight to (kg)</label
        >
        <input
          type="number"
          name="weight-to"
          id="weight-to"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
          value="12"
          placeholder="Ex. 12"
          required=""
        />
      </div>
      <div>
        <label
          for="reps-from"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Reps from (kg)</label
        >
        <input
          type="number"
          name="reps-from"
          id="reps-from"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
          value="12"
          placeholder="Ex. 12"
          required=""
        />
      </div>
      <div>
        <label
          for="reps-to"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Reps to (kg)</label
        >
        <input
          type="number"
          name="reps-to"
          id="reps-to"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
          value="12"
          placeholder="Ex. 12"
          required=""
        />
      </div>
      <div>
        <label
          for="sets"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Sets</label
        >
        <input
          type="number"
          name="sets"
          id="sets"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
          value="12"
          placeholder="Ex. 12"
          required=""
        />
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-6 sm:w-1/2">
    <button
      type="submit"
      class="text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800"
    >
      Save
    </button>
    <button
      type="button"
      class="text-rose-600 inline-flex justify-center items-center hover:text-white border border-rose-600 hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-rose-500 dark:text-rose-500 dark:hover:text-white dark:hover:bg-rose-600 dark:focus:ring-rose-900"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 mr-1 -ml-1"
        fill="currentColor"
        viewbox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
          clip-rule="evenodd"
        />
      </svg>
      Delete
    </button>
  </div>
{{ end }}
