{{ define "exerciseSets" }}
  <ol class="flex items-center mb-4" id="exercise-sets">
    {{ range $index, $element := . }}
      <li class="relative w-full">
        <div class="flex items-center">
          {{ if eq $element "good" }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-emerald-600 rounded-full ring-0 ring-white dark:bg-emerald-800 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ else if eq $element "bad" }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-rose-600 rounded-full ring-0 ring-white dark:bg-rose-800 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ else if eq $element "current" }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-blue-600 rounded-full ring-0 ring-white dark:bg-blue-800 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ else }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-gray-200 rounded-full ring-0 ring-white dark:bg-gray-700 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ end }}
          {{ if isNotLast $index $ }}
            <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ol>
{{ end }}
