{{ define "exerciseSets" }}
  <ol
    class="flex items-center mb-4"
    id="exercise-sets"
    {{ if .Htmx }}hx-swap-oob="true"{{ end }}
  >
    {{ range $index, $element := .Items }}
      <li class="relative w-full">
        <div class="flex items-center">
          {{ if eq $element "good" }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-emerald-600 rounded-full ring-0 ring-white dark:bg-emerald-800 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ else if eq $element "bad" }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-rose-600 rounded-full ring-0 ring-white dark:bg-rose-800 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ else if eq $element "current" }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-blue-600 rounded-full ring-0 ring-white dark:bg-blue-800 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ else }}
            <div
              class="z-10 flex items-center justify-center w-6 h-6 bg-gray-200 rounded-full ring-0 ring-white dark:bg-gray-700 sm:ring-8 dark:ring-gray-900 shrink-0"
            ></div>
          {{ end }}
          {{ if isNotLast $index $.Items }}
            <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ol>
{{ end }}

{{ define "exerciseButtons" }}
  <div
    class="flex text-sm font-medium text-center text-gray-500 divide-x rounded-lg rtl:divide-x-reverse divide-gray-200 dark:divide-gray-600 dark:text-gray-400"
    id="exercise-buttons"
    {{ if .Sets.Htmx }}hx-swap-oob="true"{{ end }}
  >
    <button
      hx-post="/workout/{{ .WorkoutID }}/exercise/next"
      hx-trigger="click"
      hx-swap="none"
      name="rating"
      value="bad"
      type="button"
      class="group inline-flex place-items-center place-content-center w-full p-4 bg-gray-50 hover:bg-rose-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-rose-800"
    >
      <svg
        class="h-8 w-8 text-rose-400 inline-block group-hover:hidden"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M17 13c-.9 0-1.4.5-2.2 1a22.3 22.3 0 0 0-4 5.1c0 .3-.2.5-.5.7a1.5 1.5 0 0 1-2-.4 1.6 1.6 0 0 1-.4-1.2L9.3 14m7.7-1h3V6.5c0-.8-.7-1.5-1.5-1.5v0c-.8 0-1.5.7-1.5 1.5V13Zm-6.5 1h-5a1 1 0 0 1-.5-.1 1.8 1.8 0 0 1-1-1.4l.1-.9 2.1-6.4C6.5 4.5 6.6 4 8 4c2.3 0 4.8 1 6.7 1.5"
        />
      </svg>
      <svg
        class="h-8 w-8 text-rose-400 hidden group-hover:inline-block"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          d="M9 14.3H5a2 2 0 0 1-1.6-.9 2 2 0 0 1-.3-1.8l2.4-7.2C5.8 3.5 6 3 7.4 3c2 0 4.2.7 6.1 1.3l1.4.4v9.8a32 32 0 0 0-4.2 5.5c-.1.4-.5.7-.9.9a1.7 1.7 0 0 1-2.1-.7c-.2-.4-.3-.8-.3-1.3L9 14.3Zm10.8-.3H17V6a2 2 0 1 1 4 0v6.8c0 .7-.5 1.2-1.2 1.2Z"
          clip-rule="evenodd"
        />
      </svg>

      <span class="sr-only">Rate exercise: bad</span>
    </button>
    <button
      hx-post="/workout/{{ .WorkoutID }}/exercise/next"
      hx-trigger="click"
      hx-swap="none"
      name="rating"
      value="good"
      type="button"
      class="group inline-flex place-items-center place-content-center w-full p-4 bg-gray-50 hover:bg-emerald-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-emerald-800"
    >
      <svg
        class="w-8 h-8 text-emerald-400 inline-block group-hover:hidden"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M7 11c.9 0 1.4-.5 2.2-1a33.3 33.3 0 0 0 4.5-5.8 1.5 1.5 0 0 1 2 .3 1.6 1.6 0 0 1 .4 1.3L14.7 10M7 11H4v6.5c0 .8.7 1.5 1.5 1.5v0c.8 0 1.5-.7 1.5-1.5V11Zm6.5-1h5l.5.1a1.8 1.8 0 0 1 1 1.4l-.1.9-2.1 6.4c-.3.7-.4 1.2-1.7 1.2-2.3 0-4.8-1-6.7-1.5"
        />
      </svg>
      <svg
        class="w-8 h-8 text-emerald-400 hidden group-hover:inline-block"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          d="M15 9.7h4a2 2 0 0 1 1.6.9 2 2 0 0 1 .3 1.8l-2.4 7.2c-.3.9-.5 1.4-1.9 1.4-2 0-4.2-.7-6.1-1.3L9 19.3V9.5A32 32 0 0 0 13.2 4c.1-.4.5-.7.9-.9h1.2c.4.1.7.4 1 .7l.2 1.3L15 9.7ZM4.2 10H7v8a2 2 0 1 1-4 0v-6.8c0-.7.5-1.2 1.2-1.2Z"
          clip-rule="evenodd"
        />
      </svg>

      <span class="sr-only">Rate exercise: good</span>
    </button>
  </div>
{{ end }}
