{{ define "workoutSplitChart" }}
  <div>
    <h5
      class="text-xl font-bold leading-none text-gray-900 dark:text-white mb-3"
    >
      {{ .SplitName }}
    </h5>
    <div class="flex max-w-full flex-wrap gap-1" id="exercises-{{ .ID }}">
      {{ range .Exercises }}
        <div class="flex items-center me-4">
          <input
            id="exercise-{{ .ID }}"
            type="checkbox"
            value="{{ .ID }}"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="exercise-{{ .ID }}"
            class="ms-2 text-sm whitespace-nowrap font-medium text-gray-900 dark:text-gray-300"
            >{{ .ExerciseName }}</label
          >
        </div>
      {{ end }}
    </div>
    <!-- Donut Chart -->
    <div class="py-6" id="donut-chart-{{ .ID }}"></div>

    <script>
      window.addEventListener("load", function () {
        const getChartOptions = () => {
          return {
            series: [{{ .TotalGoodRatings }}, {{ .TotalBadRatings }}],
            colors: ["#34d399", "#fb7185"],
            chart: {
              height: 320,
              width: "100%",
              type: "donut",
            },
            stroke: {
              colors: ["transparent"],
              lineCap: "",
            },
            plotOptions: {
              pie: {
                donut: {
                  labels: {
                    show: true,
                    name: {
                      show: true,
                      fontFamily: "Inter, sans-serif",
                      offsetY: 20,
                    },
                    total: {
                      showAlways: true,
                      show: true,
                      label: "Total sets",
                      fontFamily: "Inter, sans-serif",
                      formatter: function (w) {
                        const sum = w.globals.seriesTotals.reduce((a, b) => {
                          return a + b;
                        }, 0);
                        return sum;
                      },
                    },
                    value: {
                      show: true,
                      color: "#ffffff",
                      fontFamily: "Inter, sans-serif",
                      offsetY: -20,
                    },
                  },
                  size: "80%",
                },
              },
            },
            grid: {
              padding: {
                top: -2,
              },
            },
            labels: ["Good", "Bad"],
            dataLabels: {
              enabled: false,
            },
            legend: {
              position: "bottom",
              fontFamily: "Inter, sans-serif",
            },
            xaxis: {
              axisTicks: {
                show: false,
              },
              axisBorder: {
                show: false,
              },
            },
          };
        };

        const chartElement = document.getElementById("donut-chart-{{ .ID }}")
        const chartData = {
          {{ range .Exercises }}
            "{{ .ID }}": [{{ .GoodRatings }}, {{ .BadRatings }}],
            {{ end }}
        }
        if (
          chartElement &&
          typeof ApexCharts !== "undefined"
        ) {
          const chart = new ApexCharts(
            chartElement,
            getChartOptions(),
          );
          chart.render();

          const checkboxes = document.querySelectorAll('#exercises-{{ .ID }} input[type="checkbox"]');
          checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', (event) => handleCheckboxChange(event, chart));
          });

          function handleCheckboxChange(event, chart) {
            const checkedValues = Array.from(document.querySelectorAll('#exercises-{{ .ID }} input[type="checkbox"]:checked').values()).map(input => input.value)
            if(checkedValues.length === 0) {
              chart.updateSeries([{{ .TotalGoodRatings }}, {{ .TotalBadRatings }}])
            } else {
              chart.updateSeries(checkedValues.reduce(([totalGood, totalBad], value) => [totalGood + chartData[value][0], totalBad + chartData[value][1]], [0, 0]))
            }
          }
        }
      });
    </script>
  </div>
{{ end }}
