<!doctype html>
<html lang="en">
  {{ template "head" . }}
  <body class="bg-white dark:bg-zinc-800 dark">
    {{ template "header" .Header }}
    <main
      class="max-w-screen-xl mx-auto container min-h-dvh py-8 px-4 relative"
      id="container"
    >
      {{ template "pageTitle" "Settings" }}
      <h2 class="text-white text-2xl">Splits</h2>
      <div class="flex flex-col gap-y-8" id="split-tables">
        {{ range .Splits }}
          {{ template "splitTable" . }}
        {{ end }}
      </div>
      <div data-dial-init class="fixed bottom-6 end-6">
        <button
          type="button"
          type="button"
          hx-trigger="click"
          hx-get="/split/new"
          hx-swap="none"
          class="flex items-center justify-center text-white bg-emerald-700 rounded-full w-14 h-14 hover:bg-emerald-800 dark:bg-emerald-600 dark:hover:bg-emerald-700 focus:ring-4 focus:ring-emerald-300 focus:outline-none dark:focus:ring-emerald-800"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
          <span class="sr-only">Add Split</span>
        </button>
      </div>
    </main>
  </body>
</html>
